@import "tailwindcss";

@theme {
  --color-bg-dark: #2B2728;
  --color-bg-light: #423E3F;
  --color-fg: #F1D9BD;
  --color-fg2: #7BB4BD;
  --color-fg3: #DFE8F1;
  --color-accent: #87695F;
  --color-accent2: #2C7083;
}
